fastapi
uvicorn[standard]
pydantic
python-jose
python-decouple
cryptography
sqlalchemy
alembic
pymysql
psycopg2-binary
pydantic[email]
pydantic-settings
passlib[bcrypt]
python-multipart
python-dotenv
httpx
pytest
typer[all]
strawberry-graphql
jinja2
